/*Importa fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Define as variáveis das cores*/
:root {
    --cor-1: #082922;
    --cor-2: #572e2e;
    --cor-3: #d3d3d3;
}

/*Remove espaçamentos indesejados*/
* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

/*↓Estiliza a página↓*/

/*↓Estiliza o cabeçalho↓*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--cor-1);
    border-bottom: 1px solid var(--cor-3);
}

h1 {
    text-align: center;
    font-size: 24px;
}

/*Tira da parte visível o toggle responsável por criar o menu*/
#menu-toggle, #acess-toggle {
    position: absolute;
    right: 0;
}


/*↑Estiliza o cabeçalho↑*/





/*↓Estiliza o main da página↓*/

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.elemento-main, img {
    max-width: 70%;
    margin-left: 15%;
    margin-right: auto;
}

.bloco-de-texto {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topico {
    font-size: 27px;
}

.texto {
    padding-top: 1rem;
}

.subtopico {
    font-size: 23px;
}

.lista {
    margin-left: 2rem;
}


#referencias a:hover {
    text-decoration:underline;
    color:blue;
}

#referencias a {
    text-decoration: none;
    color: var(--cor-3);
    display: block;
    padding: 5px;
}


/*↑Estiliza o main da página↑*/

/*↓Estiliza o footer da página↓*/

footer {
    background-color: var(--cor-1);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--cor-3);
}



.rodape {

    text-align: center;
    font-weight: 400;
}

/*↑Estiliza o footer da página↑*/




body {
    background-color: var(--cor-1);
    font-family: 'Roboto';
    color: var(--cor-3)
}


/*↑Estiliza a página↑*/
